[Desktop Entry]
Name=glParchis
Type=Application
Comment=OpenGL Parchis
Exec=glparchis
TryExec=glparchis
Icon=/usr/share/pixmaps/pyglparchis.png
Categories=Game;BoardGame;
