[Desktop Entry]
Name=glParchis
Type=Application
Comment=OpenGL Parchis
Exec=pyglparchis
TryExec=pyglparchis
Icon=/usr/share/pixmaps/pyglparchis.png
Categories=Game;BoardGame;
